.about {
  padding: .5em;
  padding-top: 3em;
  padding-bottom: 5em;

  @media (min-width: @screen-sm) {
    padding: 0;
    padding-top: 3em;
    padding-bottom: 5em;
  }

  @media (min-width: @screen-lg) {
    padding-top: 5em;
    padding-bottom: 7em;
  }

  &__inner {
    width: 100%;
  }

  &__content {
    position: relative;
    max-width: 35em;
    font-size: 10px;
    line-height: 15px;

    &::after {
      position: absolute;
      content: '';
      bottom: -2em;
      left: 0;
      background-color: @blue;
      height: 2px;
      width: 140px;
    }

    @media (min-width: @screen-sm) {
      font-size: 14px;
      line-height: 18px;

      &::after {
        width: 160px;
        height: 4px;
      }
    }
  }

  &__subtitle {
    font-size: 12px;
    line-height: 15px;

    @media (min-width: @screen-sm) {
      font-size: 18px;
      line-height: 18px;
    }
  }

  &__cover {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url(../images/bg--about.jpg);
    width: 100%;
    min-height: 600px;

    @media (min-width: @screen-lg) {
      background-image: url(../images/bg--about@2x.jpg);
    }

    @media (min-width: @screen-xxl) {
      background-image: url(../images/bg--about@3x.jpg);
    }
  }
}