.btn {
  box-sizing: border-box;
  position: relative;
  display: inline-block;
  margin-bottom: 0;
  white-space: nowrap;
  cursor: pointer;
  vertical-align: middle;
  user-select: none;
  font-size: @font-size--small;
  font-weight: 700;
  letter-spacing: .1em;
  line-height: 1em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border: 1px solid @blue;
  border-radius: 2px;
  color: @text-color;
  background-color: transparent;
  background-image: none;
  padding: 20px 40px;
  touch-action: manipulation;
  overflow: hidden;
  z-index: 1;

  span {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-radius: 50%;
    background-color: @blue;
    transition: all 0.5s ease-in-out 0s;
    transform: translate(-50%, -50%);
    z-index: -1;
  }

  &:hover {

    span {
      width: 225%;
      height: 562.5px;
    }
  }

  &--bg-dark {
    color: @text-color--light;
  }

  &--size-small {
    padding: 15px 30px;
  }

  &--yellow {
    border: 1px solid #F7CA18;
    background-color: #F7CA18;
    color: #012f61;
    width: 90%;
    padding-top: 18px;
    padding-bottom: 18px;

    &:hover {
      background-color: #14679e;
      border: 1px solid #14679e;
      color: @white;
    }
  }
}