@width:               40px;
@height:              20px;
@line-size:           2px;
@line-radius:         @line-size;
@color:               @text-color--light;

.burger {
  position: relative;
  text-align: center;
  margin-left: auto;
  display: block;
  z-index: 10;
  cursor: pointer;
  width: @width;
  height: @height;
  margin-top: 1rem;
  transition: transform .3s cubic-bezier(.48,0,.12,1) .7s;

  @media (min-width: @screen-xs) {
    margin-top: 1.1rem;
  }

  &__icon {
    position: absolute;
    width: @width;
    height: @height;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    span {
      position: absolute;
      background-color: @color;
      width: 100%;
      height: @line-size;
      top: 50%;
      left: 0;
      border-radius: @line-radius;
      pointer-events: none;
      margin: auto;
      transform-origin: center;
      transition: width .2s cubic-bezier(.48,0,.12,1) 0s;

      &::before,
      &::after {
        content: '';
        position: absolute;
        left: 0;
        background-color: @color;
        width: 100%;
        height: @line-size;
        border-radius: @line-radius;
        transition: transform .3s cubic-bezier(.48,0,.12,1) 1s;
      }

      &::before {
        top: -7px;
      }

      &::after {
        bottom: -7px;
      }
    }
  }

  &--is-active {
    transform: translate3d(-3em,0,0);
    transition: transform .3s cubic-bezier(.48,0,.12,1) .7s;

    .burger__icon {

      span {

        &::before,
        &::after {
          transition: transform .3s cubic-bezier(.48,0,.12,1) 0s;
        }

        &::before {
          transform: translate3d(0,7px,0);
        }

        &::after {
          transform: translate3d(0,-7px,0);
        }
      }
    }
  }
}