.categories-promo {
  background-color: @gray;
  color: @text-color--light;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url(../images/bg--categories-main.jpg);
  min-height: 500px;
  padding-top: 9em;

  @media (min-width: @screen-sm) {
    min-height: 700px;
  }

  @media (min-width: @screen-lg) {
    background-image: url(../images/bg--categories-main@2x.jpg);
  }

  &__content {
    max-width: 30em;

    @media (min-width: @screen-sm) {
      margin-left: auto;
      position: relative;
      top: 50%;
    }
  }
}