.error-section {
  position: relative;
  width: 100%;
  min-height: 100vh;
  text-align: center;

  &__content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  &__title {
    margin: 0;
    padding-bottom: 2rem;
    font-size: 10em;
    position: relative;

    &::after {
      position: absolute;
      content: '';
      height: 1px;
      width: 5rem;
      bottom: 1rem;
      left: 50%;
      transform: translateX(-50%);
      background-color: @text-color;
    }
  }

  &__desc {
    margin-bottom: 2rem;

    span {
      margin-right: 0.5rem;
    }
  }
}