.feedback-modal {

  /*! Fixing Styles For Bootstrap Modal */
  .modal-content {
    padding: .5em;
    padding-bottom: 1em;
    border: 0;
    border-radius: 2px;

    @media (min-width: @screen-sm) {
      padding: 1em;
    }
  }

  .modal-header {
    border-bottom: 0;
  }

  .modal-title {
    font-weight: 400;
    margin-top: 1em;
    line-height: 1.1em;
  }

  .modal-footer {
    border-top: 0;
  }
}