.main-nav {
  padding-top: 1em;
  z-index: 1;
  position: relative;

  @media (min-width: @screen-lg) {
    padding-top: .75em;
  }

  &__list {
    list-style-type: none;
    display: table;
    margin: auto;
  }

  &__item {
    display: inline-block;

    &:not(:last-child) {
      margin-right: 1.5em;
    }
  }

  &__link {
    color: @text-color--light;
    text-transform: uppercase;
    padding: .5em 0;
    letter-spacing: .1em;
    position: relative;
    transition: all .25s ease-in-out .1s;
    font-size: 87.5%;

    &::before,
    &::after {
      position: absolute;
      content: '';
      background-color: @blue;
      height: 1px;
      width: 0;
      bottom: -1px;
      transition: all .25s ease-in-out .1s;
    }

    &::before {
      left: 50%;
    }

    &::after {
      right: 50%;
    }

    &:hover,
    &:focus {

      &::before {
        width: 50%;
      }

      &::after {
        width: 50%;
      }
    }

    @media (min-width: @screen-md) {
      font-size: @font-size--small;
    }
  }
}