.main-address {
  font-style: normal;
  margin-bottom: 3em;

  @media (min-width: @screen-lg) {
    margin-bottom: 0;
  }

  &__list {
    list-style-type: none;
    margin-bottom: 3.5em;

    li {

      &:not(:last-child) {
        margin-bottom: .5em;
      }

      #mail-icon,
      #phone-icon {
        fill: @text-color--light;
        margin-right: .75em;
      }

      #mail-icon {
        transform: translateY(5px);
      }

      #phone-icon {
        transform: translateY(5px);
      }

      a {
        color: @text-color--light;
        display: inline-block;
        position: relative;
        letter-spacing: .05em;
      }

      a[href^="tel"] {
        position: relative;

        &::after {
          position: absolute;
          content: attr(data-text);
          bottom: -2em;
          left: 0;
          font-size: @font-size--small;
          white-space: nowrap;
          letter-spacing: normal;
        }
      }
    }
  }

  // &--in-header {

  //   svg {
  //     display: none;
  //   }

  //   @media (min-width: @screen-sm) {

  //     svg {
  //       display: inline-block;
  //     }
  //   }
  // }
}