.main-form {

  .form-control {
    box-shadow: none;
    border-radius: 2px;
    height: 40px;
    font-family: @font-family;

    &:focus {
      outline: none;
      border: 1px solid @blue;
      box-shadow: none;
    }
  }

  textarea.form-control {
    height: auto;
  }

  .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
  }
}