.main-subtitle {
  font-weight: 700;
  color: @text-color;
  font-size: 18px;
  text-align: center;

  @media (min-width: @screen-sm) {
    font-size: 36px;
    line-height: 36px;
    text-align: left;
  }

  span {
    position: relative;
    padding-left: 50px;

    &::before {
      position: absolute;
      content: '';
      top: -7px;
      left: 0;
      background-repeat: no-repeat;
      background-size: cover;
      width: 38px;
      height: 38px;
    }

    @media (min-width: @screen-sm) {
      padding-left: 60px;

      &::before {
        top: 0;
        width: 48px;
        height: 48px;
      }
    }
  }

  &--steps {

    span {

      &::before {
        background-image: data-uri('image/svg+xml;charset=UTF-8', '../images/handshake.svg');
      }
    }
  }

  &--about {

    span {

      &::before {
        background-image: data-uri('image/svg+xml;charset=UTF-8', '../images/group.svg');
      }
    }
  }
}