.mobile-nav {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: @bg-color--dark;
  transform: translateX(100%);
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  text-align: right;
  z-index: 1;
  transition: transform .7s cubic-bezier(.64,.06,.32,.98) .2s, box-shadow .3s linear .5s;

  @media (min-width: @screen-md) {
    display: none;
  }

  &__inner {
    position: relative;
    height: 100%;
  }

  &__list {
    list-style-type: none;
    position: absolute;
    top: 50%;
    right: 3.5em;
    transform: translate(0, -50%);
  }

  &__item {
    margin: .5em;
    opacity: 0;
    transition: transform .35s ease-in-out, opacity .3s ease-in-out;
    transform: translateX(2em);
    margin-bottom: 1em;

    &:nth-child(1) {
      transition-delay: .5s;
    }

    &:nth-child(2) {
      transition-delay: .55s;
    }

    &:nth-child(3) {
      transition-delay: .6s;
    }

    &:nth-child(4) {
      transition-delay: .65s;
    }

    &:nth-child(5) {
      transition-delay: .7s;
    }

    &:nth-child(6) {
      transition-delay: .75s;
    }
  }

  &__link {
    position: relative;
    display: inline-block;
    color: @text-color--light;
    padding: .25em 0;
    font-size: @font-size--h4;
    font-weight: 700;
    transition: all .25s ease-in-out .1s;
    border: 1px solid @blue;
    padding: .5em 1em;

    &::before {
      position: absolute;
      content: '';
      background-color: @blue;
      bottom: -3px;
      right: 0;
      width: 0;
      height: 1px;
      transition: all .25s ease-in-out .1s;
    }

    &:hover,
    &:focus {
      opacity: .75;

      &::before {
        width: 100%;
      }
    }
  }

  &__close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    padding: .5rem;
    text-align: center;
    display: block;
    margin: auto;
  }

  &--is-open {
    transform: translateX(0);
    box-shadow: 0 3px 2px #777;

    .mobile-nav__item {
      opacity: 1;
      transform: translateX(0);
    }
  }
}