.page-footer {

  &__content {
    background-color: @bg-color--dark;
    color: @text-color--light;
    padding: .5em;
    padding-top: 5em;
    padding-bottom: 5em;

    @media (min-width: @screen-sm) {
      padding-top: 6em;
      padding-bottom: 6em;
    }

    @media (min-width: @screen-md) {
      padding-top: 7em;
      padding-bottom: 7em;
    }
  }

  &__subtitle {
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 1.5em;
    letter-spacing: .075em;
  }

  &__nav {
    font-size: 87.5%;
    margin-bottom: 3em;

    @media (min-width: @screen-sm) {
      margin-top: 3.6em;
    }

    @media (min-width: @screen-lg) {
      font-size: 1em;
      margin-top: 3em;
    }
  }

  &__nav-list {
    list-style-type: none;

    li {
      margin-bottom: .25em;

      @media (min-width: @screen-sm) {
        margin-bottom: .5em;
      }

      @media (min-width: @screen-lg) {
        margin-bottom: 0;
      }

      a {
        text-transform: uppercase;
        color: @text-color--light;
        padding: .5em 0;
        position: relative;

        &::after {
          position: absolute;
          content: '';
          bottom: -1px;
          left: 0;
          width: 0;
          height: 1px;
          background-color: @blue;
          transition: all .25s ease-in-out .05s;
        }

        &:hover {

          &::after {
            width: 100%;
          }
        }

        @media (min-width: @screen-md) {
          letter-spacing: .05em;
        }

        @media (min-width: @screen-lg) {
          font-size: @font-size--small;
          letter-spacing: .1em;
        }

      }
    }
  }

  &__social {

    @media (min-width: @screen-lg) {
      padding-left: 4em;
    }
  }

  &__copyright {
    padding-top: 1em;
    padding-bottom: 1em;
    color: @text-color--light;
    text-align: center;
    background-color: @bg-color--darkest;

    small {
      opacity: .5;
    }
  }
}