.page-header {
  position: absolute;
  width: 100%;
  top: 0;
  background-color: transparent;
  color: @text-color--light;
  padding-top: 1em;
  padding-bottom: 1em;

  &__logo {
    background-color: @blue;
    z-index: 1;
    position: absolute;
    top: -1em;
    padding: 1.5em .75em;
    padding-top: 2em;
    box-shadow: 0 2px 5px 0px #111;
  }

  &__address {
    position: relative;
    z-index: 1;
    text-align: right;
    padding-top: 1em;

    @media (min-width: @screen-sm) {
      padding-top: .5em;
    }
  }
}