.payment-and-delivery-promo {
  background-color: @gray;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  background-image: url(../images/bg--payment-and-delivery-main.jpg);
  min-height: 300px;
  padding-top: 9em;

  @media (min-width: @screen-lg) {
    background-image: url(../images/bg--payment-and-delivery-main@2x.jpg);
    min-height: 600px;
  }

  @media (min-width: @screen-xxl) {
    background-image: url(../images/bg--payment-and-delivery-main@3x.jpg);
  }
}