.promo {
  background-color: @gray;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  background-image: url(../images/bg--promo.jpg);
  padding-top: 9em;
  min-height: 100vh;
  width: 100%;

  @media (min-width: @screen-lg) {
    background-image: url(../images/bg--promo@2x.jpg);
  }

  @media (min-width: @screen-xxl) {
    background-image: url(../images/bg--promo@3x.jpg);
    min-height: 761px;
  }
}