.sale-cart {
  background-color: @white;
  border-radius: 2px;
  width: 100%;
  min-height: 300px;
  box-shadow: 0px 0px 20px 0 rgba(0, 0, 0, 0.14);
  text-align: center;
  padding: 1em;
  font-family: 'Montserrat', sans-serif;
  padding-top: 3em;
  padding-bottom: 3em;
  margin-bottom: 15px;
  margin-top: 15px;

  @media (min-width: @screen-sm) {
    margin-bottom: 30px;
  }

  &__phone-example {
    margin: 0;
    margin-bottom: 2rem;
    font-size: 24px;
    font-weight: 600;
    color: #012f61;
    line-height: 1.1em;
    position: relative;

    &::after {
      position: absolute;
      content: '';
      width: 30%;
      height: 2px;
      background-color: #012f61;
      bottom: -0.5rem;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &__new-price {
    font-size: 54px;
    font-weight: 800;
    color: #012f61;
  }

  &__old-price {
    font-size: 23px;
    font-weight: 400;
    text-decoration: line-through;
    margin-bottom: 2rem;
    color: #D35400;
  }
}