.sales {

  &__wrap {

    @media (min-width: @screen-md) {
      width: 872px;
    }

    @media (min-width: @screen-lg) {
      width: 1060px;
    }

    @media (min-width: @screen-xl) {
      width: 1200px;
    }
  }
}