.section {
  padding-top: 2em;
  padding-bottom: 4em;

  @media (min-width: @screen-sm) {
    padding-top: 3em;
    padding-bottom: 5em;
  }

  .owl-nav {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-40px);
    margin: 0;
  }

  .owl-nav [class*='owl-'] {
    background: transparent;
    margin: 0;
    padding: 0;
  }

  .owl-theme .owl-nav [class*='owl-']:hover {
    background: none;
  }

  .owl-prev, .owl-next {
    position: absolute;
    top: 0;
    bottom: 0;
    display: inline-block;
    margin: 0;

    svg {
      padding: 5px;

      polyline {
        transition-property: all;
        transition-duration: .3s;
        transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
      }
    }

    &:hover,
    &:focus {

      svg polyline {
        stroke-width: 3;
      }
    }

    &:active {

      svg polyline {
        stroke-width: 6;
        transition-property: all;
        transition-duration: .15s;
        transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
      }
    }
  }

  .owl-prev {
    left: -60px;

    @media (min-width: @screen-lg) {
      left: -64px;
    }

    @media (min-width: (@screen-lg + 100)) {
      left: -80px;
    }
  }

  .owl-next {
    right: -60px;

    @media (min-width: @screen-lg) {
      right: -64px
    }

    @media (min-width: (@screen-lg + 100)) {
      right: -80px;
    }

    svg {
      transform: rotate3D(0, 1, 0, 180deg);
    }
  }
}