.social {

  &__list {
    display: table;
    list-style-type: none;
  }

  &__item {
    display: inline-block;
    transform: translateY(-3px);
    margin: 0 .5em;

    &:first-child {
      margin-left: .1em;
    }
  }

  &__link {
    display: inline-block;

    svg {
      fill: @text-color--light;
      transition: all .25s ease-in-out .05s;
    }

    &:hover {

      svg {
        fill: @blue;
      }
    }

    &--vk {
      transform: translateY(5px);
    }
  }
}