.steps {
  background-color: #f6f5f2;
  padding: .5em;
  padding-top: 3em;
  padding-bottom: 5em;

  @media (min-width: @screen-sm) {
    padding: 0;
    padding-top: 3em;
    padding-bottom: 3em;
  }

  &__subtitle {
    text-align: center;
    font-size: 18px;
    margin-bottom: 1rem;
  }

  &__list {
    list-style-type: none;

    @media (min-width: @screen-sm) {

      &:last-child {
        transform: translateY(-3em);
      }
    }
  }

  &__item {
    position: relative;
  }

  &__content {

    &:not(:last-child) {

      &::before {
        display: none;
        position: absolute;
        content: '';
        top: 47%;
        right: 0;
        transform: translate(50%, -50%);
        background-repeat: no-repeat;
        background-size: cover;
        background-image: data-uri('image/svg+xml;charset=UTF-8', '../images/arrow.svg');
        width: 50px;
        height: 50px;
      }
    }

    @media (min-width: @screen-sm) {

      &:not(:last-child) {

        &::before {
          display: block;
        }
      }
    }
  }

  &__content {
    margin: 0;
    text-align: center;
  }

  &__cover {
    background-color: @blue;
    width: 146px;
    height: 146px;
    border-radius: 146px;
    margin: auto;
    position: relative;
    margin-bottom: 1rem;

    &::before {
      position: absolute;
      content: '';
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-repeat: no-repeat;
      background-size: cover;
      width: 70px;
      height: 70px;
    }

    &--phone-book {

      &::before {
        background-image: data-uri('image/svg+xml;charset=UTF-8', '../images/phone-book.svg');
      }
    }

    &--administrator {

      &::before {
        background-image: data-uri('image/svg+xml;charset=UTF-8', '../images/administrator.svg');
      }
    }

    &--business-book {

      &::before {
        background-image: data-uri('image/svg+xml;charset=UTF-8', '../images/business-book.svg');
      }
    }

    &--like {

      &::before {
        background-image: data-uri('image/svg+xml;charset=UTF-8', '../images/like.svg');
      }
    }
  }

  &__desc {
    font-size: 14px;
    line-height: 24px;
  }
}