@font-face {
  font-family: 'Lato';
  src: local('Lato Regular'), local('Lato-Regular'),
       url('../fonts/latoregular.woff2') format('woff2'),
       url('../fonts/latoregular.woff') format('woff'),
       url('../fonts/latoregular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: local('Lato Italic'), local('Lato-Italic'),
       url('../fonts/latoitalic.woff2') format('woff2'),
       url('../fonts/latoitalic.woff') format('woff'),
       url('../fonts/latoitalic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Lato';
  src: local('Lato Medium Italic'), local('Lato-MediumItalic'),
       url('../fonts/latomediumitalic.woff2') format('woff2'),
       url('../fonts/latomediumitalic.woff') format('woff'),
       url('../fonts/latomediumitalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Lato';
  src: local('Lato Bold'), local('Lato-Bold'),
       url('../fonts/latobold.woff2') format('woff2'),
       url('../fonts/latobold.woff') format('woff'),
       url('../fonts/latobold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: local('Lato Bold Italic'), local('Lato-BoldItalic'),
       url('../fonts/latobolditalic.woff2') format('woff2'),
       url('../fonts/latobolditalic.woff') format('woff'),
       url('../fonts/latobolditalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Lato';
  src: local('Lato Heavy'), local('Lato-Heavy'),
       url('../fonts/latoheavy.woff2') format('woff2'),
       url('../fonts/latoheavy.woff') format('woff'),
       url('../fonts/latoheavy.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}