a,
area,
button,
[role='button'],
input,
label,
select,
summary,
textarea {
  touch-action: manipulation;
}

[role='button'] {
  cursor: pointer;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-width: 320px;
  margin: 0;
  font-family: @font-family;
  color: @text-color;
  font-size: @font-size;
  line-height: @line-height;

  @media (min-width: @screen-lg) {
    font-size: @font-size--desktop;
    line-height: @line-height--desktop;
  }
}

img {
  box-sizing: content-box;
  max-width: 100%;
  height: auto;
  border: 0;
}


h1, h2, h3, h4, ul, ol {
  margin: 0;
  padding: 0;
}

h1, h2, h3 {
  font-weight: 700;
  font-style: normal;
  line-height: @line-height--heading;
  margin-top: 1.5em;
  margin-bottom: 1em;
}

h1 {
  font-size: @font-size--h1;
}

h2 {
  font-size: @font-size--h2;
}

h3 {
  font-size: @font-size--h3;
}

// h4 {
//   font-size: @font-size--h4;
// }

// h5 {
//   font-size: @font-size--h5;
// }

// h6 {
//   font-size: @font-size--h6;
// }

small {
  font-size: @font-size--small;
}

p {
  margin-top: 1em;
  margin-bottom: .5em;
}

b,
strong {
  font-weight: 700;
}

a {
  text-decoration: none;
  background-color: transparent;
  transition: all ease-in-out 0.25s;
}

button {
  background-color: inherit;
  border: none;

  &:hover,
  &:focus {
    outline: none;
  }
}

.prevent-scroll {
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}


.preloader {
  background-color: @bg-color--dark;
  // color: @blue;
  display: block;
  position: fixed;
  z-index: 9999;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  &__icon {
    position: fixed;
    top: 50vh;
    left: 50vw;
    width: 100px;
    height: 100px;
    // border: 4px solid @blue;
    animation-name: roll;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    transform-origin: center;
    outline: 1px solid transparent;
  }
}

@keyframes roll {
  0% {
    transform: translate(-50%, -50%) rotate(0);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}