// Width

@screen-xs:                   480px;
@screen-sm:                   768px;
@screen-md:                   992px;
@screen-lg:                   1200px;
@screen-xl:                   1440px;
@screen-xxl:                  1920px;


// Colors

@black:                       hsl(0, 0%, 0%);
@gray-darkest:                hsl(0, 0%, 15%);
@gray-darker:                 hsl(0, 0%, 20%);
@gray-darken:                 hsl(0, 0%, 30%);
@gray-dark:                   hsl(0, 0%, 40%);
@gray:                        hsl(0, 0%, 50%);
@gray-light:                  hsl(0, 0%, 60%);
@gray-lighten:                hsl(0, 0%, 70%);
@gray-lighter:                hsl(0, 0%, 85%);
@gray-lightest:               hsl(0, 0%, 97%);
@white:                       hsl(0, 0%, 100%);

@text-color:                  #333;
// @text-color--light:           #fbfcfb;
@text-color--light:           #e2e2e2;

// @bg-color--light:             #e2e2e2;
@bg-color--light:             #e2e2e2;
@bg-color--dark:              #353535;
@bg-color--darkest:           #272727;

@blue:                        #34a0d8;


// Typography

// Main size
@font-size:                   100%;
@font-size--desktop:          112.5%;

// Perfect Fifth
@font-size--h1:               5.063em;
@font-size--h2:               3.375em;
@font-size--h3:               2.25em;
@font-size--h4:               1.5em;
@font-size--h5:               1em;
@font-size--h6:               1em;
@font-size--small:            0.667em;
@font-size--accent:           1.25em;

// Perfect Fourth
// @font-size--h1:               3.157em;
// @font-size--h2:               2.369em;
// @font-size--h3:               1.777em;
// @font-size--h4:               1.333em;
// @font-size--h5:               1em;
// @font-size--h6:               1em;
// @font-size--small:            0.75em;
// @font-size--accent:           1.125em;

@font-family:                 'Lato', -apple-system, BlinkMacSystemFont, 'Roboto', 'Helvetica Neue', 'Arial', sans-serif;
@font-family--sans:           'Fira Sans', -apple-system, BlinkMacSystemFont, 'Roboto', 'Helvetica Neue', 'Arial', sans-serif;
@font-family--monospace:      'Menlo', 'Monaco', 'Consolas', 'Liberation Mono', 'Courier New', monospace;

@line-height:                 1.425em;
@line-height--desktop:        1.5em;
@line-height--heading:        1.1em;