<footer class="page-footer" role="contentinfo">
  <div class="page-footer__content">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-5 col-lg-4">
          <h4 class="page-footer__subtitle">Обратная связь</h4>
          <address class="main-address">
            <ul class="main-address__list">
              <li class="main-address__item">
                <svg id="mail-icon" width="20px" height="20px"><use xlink:href="#mail"></use></svg>
                <a href="mailto:info@nomervip.com">info@nomervip.com</a>
              </li>
              <li class="main-address__item">
                <svg id="phone-icon" width="20px" height="20px"><use xlink:href="#phone"></use></svg>
                <a href="tel:+78129505050" data-text="&#42;круглосуточно, без выходных">+7 (812) 950-50-50</a>
              </li>
            </ul>
            <button type="button" class="btn btn--bg-dark btn--size-small" data-toggle="modal" data-target="#myModal">Заказать звонок <span></span></button>
          </address>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-7 col-lg-4">
          <nav class="page-footer__nav">
            <ul class="page-footer__nav-list">
              <div class="row">
                <div class="col-xs-12 col-sm-7">
                  <li><a href="#">Главная</a></li>
                  <li><a href="#">Оплата и доставка</a></li>
                  <li><a href="#">FAQ</a></li>
                  <li><a href="#">Контакты</a></li>
                </div>
                <div class="col-xs-12 col-sm-5">
                  <li><a href="#">Статьи</a></li>
                  <li><a href="#">Новости</a></li>
                  <li><a href="#">Акции</a></li>
                  <li><a href="#">Гарантии</a></li>
                </div>
              </div>
            </ul>
          </nav>
        </div>
        <div class="col-xs-12 col-lg-4">
          <div class="page-footer__social">
            <h4 class="page-footer__subtitle">Следите за новостями</h4>
            <div class="social">
              <ul class="social__list">
                <li class="social__item">
                  <a href="#" class="social__link social__link--vk" target="_blank" rel="noopener"><svg width="35px" height="35px"><use xlink:href="#vk"></use></svg></a>
                </li>
                <li class="social__item">
                  <a href="#" class="social__link" target="_blank" rel="noopener"><svg width="25px" height="25px"><use xlink:href="#facebook"></use></svg></a>
                </li>
                <li class="social__item">
                  <a href="#" class="social__link" target="_blank" rel="noopener"><svg width="25px" height="25px"><use xlink:href="#instagram"></use></svg></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="page-footer__copyright">
    <div class="container"><small>&#9400; 2017 NOMER.VIP. Все права принадлежат авторам</small></div>
  </div>
</footer>