<header class="page-header" role="banner">
  <div class="container">
    <div class="row">
      <div class="col-xs-6 col-sm-4 col-md-2">
        <div class="page-header__logo">
          <a href="index.html" class="logo">
            <img src="images/logo.svg" alt="">
          </a>
        </div>
      </div>
      <div class="hidden-xs hidden-sm col-md-7">
        <nav class="main-nav">
          <ul class="main-nav__list">
            <li class="main-nav__item">
              <a href="#" class="main-nav__link">Магафон</a>
            </li>
            <li class="main-nav__item">
              <a href="#" class="main-nav__link">МТС</a>
            </li>
            <li class="main-nav__item">
              <a href="#" class="main-nav__link">Теле2</a>
            </li>
            <li class="main-nav__item">
              <a href="#" class="main-nav__link">Билайн</a>
            </li>
            <li class="main-nav__item">
              <a href="#" class="main-nav__link">Оплата и доставка</a>
            </li>
            <li class="main-nav__item">
              <a href="#" class="main-nav__link">Контакты</a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="col-xs-6 col-sm-2 col-sm-push-6 hidden-md hidden-lg">
        <div class="burger">
          <div class="burger__icon">
            <span></span>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-sm-pull-2 col-md-3 col-md-pull-0">
        <div class="page-header__address">
          <address class="main-address main-address--in-header">
            <ul class="main-address__list">
              <li class="main-address__item">
                <svg id="phone-icon" width="20px" height="20px"><use xlink:href="#phone"></use></svg>
                <a href="tel:+78129505050" data-text="&#42;круглосуточно, без выходных">+7 (812) 950-50-50</a>
              </li>
            </ul>
          </address>
        </div>
      </div>
    </div>
  </div>
</header>